.caractere {
color: yellow;
font-style: italic;
font-size: 40px;
font-weight: bold;
}
h2 {
color: blue;
font-style: inherit;
font-size: 35px;
font-weight: bold;
}
h3 {
color: blue;
font-style: inherit;
font-size: 35px;
font-weight: bold;
}
h4 {
color: blue;
font-style: inherit;
font-size: 35px;
font-weight: bold;
}
h5 {
color: blue;
font-style: inherit;
font-size: 35px;
font-weight: bold;
}
h6 {
color: blue;
font-style: inherit;
font-size: 35px;
font-weight: bold;
}
h7 {
color: blue;
font-style: inherit;
font-size: 35px;
font-weight: bold;
}
h8 {
color: blue;
font-style: inherit;
font-size: 35px;
font-weight: bold;
}
h9 {
color: blue;
font-style: inherit;
font-size: 35px;
font-weight: bold;
}
h10 {
color: blue;
font-style: inherit;
font-size: 35px;
font-weight: bold;
}
